@font-face {
    font-family: 'Graphik Medium';
    src: url('path/to/wfont_6c5a17_50f47e5542944300b32e0d7887baabb2.woff2') format('woff2'),
         url('path/to/wf_50f47e5542944300b32e0d788.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow-x: hidden;
    font-family: 'Graphik Medium', sans-serif;
    display: flex; 
    flex-direction: column;
}

html{
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -25px;
    width: 100%; /* Make the navbar span the full width of the viewport */
    height: 80px;
    z-index: 999;
    padding: 15px 0; /* Adjust padding as needed */
    transition: all 0.3s ease;
    background-color: rgb(255, 255, 255); 
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}



.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure the content within .max-width spans the full width */
    margin: 0 auto; /* Center align the content */
    max-width: 1200px; /* Adjust max-width of content as needed */
    padding: 0 5px; /* Add padding to the content area */
}

.navbar .logo a {
    margin-left: -280px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; 
}

.navbar .menu {
    margin-right: -290px; /* Remove default margin */
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    text-decoration: none; 
    padding: 30px;
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: rgb(129, 120, 122);
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}
.navbar.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
  }
  
  .inner-container {
    display: flex;
    align-items: center;
  }
  
  .image {
    width: 400px;
    height: 350px;
    margin-right: 40px;
    border-radius: 10px;
  }  

  .words {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .words .word{
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    margin-right: 50px;
    color: #faf600;
  }

  .words span {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    margin-right: 50px;
  }

.title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Graphik Medium', sans-serif;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}
.containerz {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.containerz img {
  max-width: 100%;
  margin-right: 20px; /* add some space between the image and the text */
}

.image-text {
  font-family: 'Graphik Medium', sans-serif;

  flex: 1; /* take up the remaining space */
}

.image-text h1 {
  color: #e6d70d;
  font-size: 46px;
  font-weight: bold;
  margin: 0; /* remove the margin top */
  
}

.image-text p1 {
  font-size: 34px;
  font-weight: bold;
}
    
.image-text p2 {
  font-size: 30px;
  font-weight: bold;
}
.image-text p2 .x{
  font-size: 30px;
  font-weight: bold;
  color: red;
}
.image-text p2 .y{
  font-size: 30px;
  font-weight: bold;
  color: rgb(154, 206, 13);
}

.containerzz {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.containerzz img {
  max-width: 50%;
  margin-right: 20px; /* add some space between the image and the text */
}

.image-text {
  font-family: 'Graphik Medium', sans-serif;

  flex: 1; /* take up the remaining space */
}

.image-text h2{
  font-family: 'Graphik Medium', sans-serif;

  color: #2e2d24;
  font-size: 46px;
  font-weight: bold;
  margin: 0; /* remove the margin top */
  
}

.image-text p1 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 34px;
  font-weight: bold;
}
    
.image-text p3 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 30px;
  font-weight: bold;
}
.image-text p3 .e{
  font-family: 'Graphik Medium', sans-serif;

  font-size: 30px;
  font-weight: bold;
  color: red;
}


.line {
  border-bottom: 1px solid #888;
}
:root {
  --arrow-color: #e74c3c;
  --arrow-size: 1em;
  --arrow-border: 0.2em;
}
:root {
  --arrow-color: #e74c3c;
  --arrow-size: 1em;
  --arrow-border: 0.2em;
}
.linkzz {
  width: 10%;
  position: relative;
  display: block;
  padding: 1em calc(1em * 3) 1em 1em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #e74c3c;
  box-shadow: inset 0 0 0 0.2em #e74c3c;
}

.linkzz::before, .linkzz::after {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.linkzz::before {
  top: 50%;
  right: 1em;
  width: 1em;
  height: 1em;
  transform-origin: 50% 50%;
  transform: translate(0, -0.5em) rotate(45deg);
  box-shadow: inset -0.2em 0.2em 0 0 #e74c3c;
  border-radius: 0 0.15em 0 0;
}

.linkzz::after {
  top: 50%;
  right: 1em;
  width: 1.3em;
  height: 0.2em;
  transform: translate(0, -0.1em);
  background-color: #e74c3c;
}

.linkzz:hover::before {
  transform: translate(0.5em, -0.5em) rotate(45deg);
}

.linkzz:hover::after {
  transform: translate(0.5em, -0.1em);
}
.line {
  border-bottom: 1px solid #888;
}
.containerx {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px; /* Add space between the images */
}

.image-wrapper {
  width: 60%;
}

.image-wrapper.full-width {
  width: 100%;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.project-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.full-image {
  display: block;
  width: 100%;
  height: auto;
}
.containerzzz {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.containerzzz img {
  border-radius: 15px;
  max-width: 40%;
  margin-left: 20px; /* Add space between the text and the image */
}

.image-text {
  font-family: 'Graphik Medium', sans-serif;
  flex: 1; /* Take up the remaining space */
}

.image-text h2 {
  color: #2e2d24;
  font-size: 46px;
  font-weight: bold;
  margin: 0; /* Remove the margin top */
}
.image-text h8{
  color: #3f7594;
  font-size: 46px;
  font-weight: bold;
  margin: 0; /* Remove the margin top */
}

.image-text h10{
  font-size: 20px;
  font-weight: bold;
}

    
.image-text p3 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 30px;
  font-weight: bold;
}
.image-text h12{
  font-size: 20px;
  font-weight: bold;
  color: #3f7594;
}
footer {
  /* background-color: #000; */
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  width: 100%;
  margin: 0;
}

.social-media {
  font-family: 'Graphik Medium', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.social-link {
  text-decoration: none;
  margin-right: 20px;
  /* color: #fff; */
  color: #000000;
}

.social-link:hover {
  color: #ccc;
}

.fab {
  font-size: 24px;
}

@media (max-width: 768px) {
 
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -25px;
  width: 100%; /* Make the navbar span the full width of the viewport */
  height: 80px;
  z-index: 999;
  padding: 15px 0; /* Adjust padding as needed */
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255); 
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}



.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; /* Center align the content */
  max-width: 1200px; /* Adjust max-width of content as needed */
  padding: 0 5px; /* Add padding to the content area */
}

.navbar .logo a {
  margin-left: -280px;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none; 
}

.navbar .menu {
  margin-right: -10px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  text-decoration: none; 
  padding: 30px;
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgb(129, 120, 122);
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}
  .container .words {
      font-size: 11px;
  }

  .container {
  flex-direction: row; /* Arrange items horizontally on larger screens */
  height: auto; /* Allow container to expand based on content */
}

.image {
  width: 400px; /* Fixed width for larger screens */
  max-width: 100%; /* Ensure image fits within container */
  margin-right: 40px; /* Restore margin for spacing */
}

.words {
  text-align: left; /* Align text to the left on larger screens */
  font-size: 11px;
}
.words .word{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  margin-right: 50px;
  color: #faf600;
}
.words span {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  margin-right: 50px;
}



.containerzz {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.containerzz img {
  max-width: 50%;
  margin-right: 20px; /* add some space between the image and the text */
}

.image-text {
  font-family: 'Graphik Medium', sans-serif;

  flex: 1; /* take up the remaining space */
}

.image-text h2{
  font-family: 'Graphik Medium', sans-serif;

  color: #2e2d24;
  font-weight: bold;
  margin: 0; /* remove the margin top */
  
}

.image-text p1 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 25px;
  font-weight: bold;
}
.image-text p2 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 19px;
  font-weight: bold;
}
.image-text p2 .x{
  font-family: 'Graphik Medium', sans-serif;

  font-size: 19px;
  font-weight: bold;
}
    
.image-text p3 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 24px;
  font-weight: bold;
}
.image-text p3 .e{
  font-family: 'Graphik Medium', sans-serif;

  font-size: 24px;
  font-weight: bold;
  color: red;
}

.containerzz {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.containerzz img {
  max-width: 90%;
  margin-right: 20px; /* add some space between the image and the text */
}

.image-text {
  font-family: 'Graphik Medium', sans-serif;

  flex: 1; /* take up the remaining space */
}

.image-text h2{
  font-family: 'Graphik Medium', sans-serif;

  color: #2e2d24;
  font-size: 46px;
  font-weight: bold;
  margin: 0; /* remove the margin top */
  
}

.image-text p1 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 34px;
  font-weight: bold;
}
    
.image-text p3 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 20px;
  font-weight: bold;
}
.image-text p3 .e{
  font-family: 'Graphik Medium', sans-serif;

  font-size: 20px;
  font-weight: bold;
  color: red;
}

.containerzzz {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.containerzzz img {
  border-radius: 15px;
  max-width: 90%;
  margin-left: 20px; /* Add space between the text and the image */
}

.image-text {
  font-family: 'Graphik Medium', sans-serif;
  flex: 1; /* Take up the remaining space */
}

.image-text h2 {
  color: #2e2d24;
  font-size: 46px;
  font-weight: bold;
  margin: 0; /* Remove the margin top */
}
.image-text h8{
  color: #3f7594;
  font-size: 46px;
  font-weight: bold;
  margin: 0; /* Remove the margin top */
}

.image-text h10{
  font-size: 20px;
  font-weight: bold;
}

    
.image-text p3 {
  font-family: 'Graphik Medium', sans-serif;

  font-size: 30px;
  font-weight: bold;
}
.image-text h12{
  font-size: 20px;
  font-weight: bold;
  color: #3f7594;
}

.containerx {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px; /* Add space between the images */
}

.image-wrapper {
  width: 60%;
}

.image-wrapper.full-width {
  width: 138%;
}
}