@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.content {
  font-family: 'Poppins', sans-serif;
  font-size: medium;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.animated-header {
  font-size: 3em; /* Increased font size */
  margin-bottom: 20px; /* Corrected margin value */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-image {
  width: 600px; /* Adjust the size as needed */
  height: auto;
  margin: 10px 0;
  z-index: 2;
}

.dynamic-text {
  display: inline-block;
  width: 100px; /* Adjust the width as needed */
  text-align: left;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .center-image {
    width: 500px;
  }

  .animated-header {
    font-size: 2.5em;
  }
}

@media (max-width: 992px) {
  .center-image {
    width: 400px;
  }

  .animated-header {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  .center-image {
    width: 300px;
  }

  .animated-header {
    font-size: 1.5em;
  }

  .content {
    margin-top: 200px;
  }
}

@media (max-width: 576px) {
  .center-image {
    width: 200px;
  }

  .animated-header {
    font-size: 1.2em;
  }

  .content {
    margin-top: 100px;
  }
}
