@font-face {
    font-family: 'Graphik Medium';
    src: url('path/to/wfont_6c5a17_50f47e5542944300b32e0d7887baabb2.woff2') format('woff2'),
         url('path/to/wf_50f47e5542944300b32e0d788.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow-x: hidden;
    font-family: 'Graphik Medium', sans-serif;
    display: flex; /* Add this to make the footer appear at the end */
    flex-direction: column;
}

html{
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -25px;
    width: 100%; /* Make the navbar span the full width of the viewport */
    height: 80px;
    z-index: 999;
    padding: 15px 0; /* Adjust padding as needed */
    transition: all 0.3s ease;
    background-color: rgb(255, 255, 255); 
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}



.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure the content within .max-width spans the full width */
    margin: 0 auto; /* Center align the content */
    max-width: 1200px; /* Adjust max-width of content as needed */
    padding: 0 5px; /* Add padding to the content area */
}

.navbar .logo a {
    margin-left: -280px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; 
}

.navbar .menu {
    margin-right: -290px; /* Remove default margin */
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    text-decoration: none; 
    padding: 30px;
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: rgb(129, 120, 122);
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}
.navbar.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
  }
  
  .inner-container {
    display: flex;
    align-items: center;
  }
  
  .image {
    width: 400px;
    height: 350px;
    margin-right: 40px;
    border-radius: 10px;
  }  

  .words {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .words .word{
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    margin-right: 50px;
    color: #faf600;
  }

  .words span {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    margin-right: 50px;
  }

  section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Graphik Medium', sans-serif;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}
.project-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dang{
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.dang .project-showcasezz {
  margin-left: 440px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-info {
  flex-basis: 60%;
  text-align: center;
}

.project-name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

css


.image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.image-description {
  flex-basis: 40%; /* adjust the width of the description */
  padding-right: 20px;
}

.image-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.image-description {
  flex: 1;
  padding-left: 20px;
  flex-basis: 40%; /* adjust the width of the description */
  padding-right: 20px;
  margin-left: 20px; /* add some margin to separate the text from the image */
}

.imagez {
  width: 30%; 
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  float: right;
  margin-top: -490px;
}

.project-image {
  width: 100%;
  height: 100%; /* increased height to 5 times the original size */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.image-text {
  font-size: 18px;
  font-weight: bold;
  width: 10%;
  padding: 5px 10px; 
  border-radius: 5px; /* add some styling to the text */
  margin-top: -10px;
  margin-left: auto;
}
.image-text h2{
  font-size: 18px;
  font-weight: bold;
  width: 10%;
  padding: 5px 10px; /* add some padding */
  border-radius: 5px; /* add some styling to the text */
  margin-top: -160px;
}

.project-description {
  flex-basis: 30%;
  padding: 20px;
}

.project-description p {
  font-family: 'Graphik Medium', sans-serif;
  font-weight: bold;
  color: #333;
  font-size: 32px;
  margin-bottom: auto; /* added margin bottom to separate from view site button */
}

.view-site {
  text-align: right;
  margin-top: 700px;
}

.view-site .btn {
  background-color: #f3870b; /* blue background */
  color: #333; /* white text */
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* add transition effect */
  text-decoration: none;
}

.view-site .btn:hover {
  background-color: #be13be; /* darker blue on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add box shadow on hover */
}

.view-site .btn:active {
  background-color: #2980b9; /* darker blue on click */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* add deeper box shadow on click */
}

.view-sitex {
  text-align: right;
  margin-top: 700px;
}

.view-sitex .btn {
  background-color: #000000; /* blue background */
  color: #fcfcfc; /* white text */
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* add transition effect */
  text-decoration: none;
}

.view-sitex .btn:hover {
  background-color: #fffb00; /* darker blue on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add box shadow on hover */
}

.view-sitex .btn:active {
  background-color: #2980b9; /* darker blue on click */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* add deeper box shadow on click */
}
.abc {
  max-height: auto; /* Adjust the value as needed */
  margin-left: -353px;
}
/* styles.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  /* background-color: #000; */
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  width: 100%;
  margin: 0;
}

.social-media {
  font-family: 'Graphik Medium', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.social-link {
  text-decoration: none;
  margin-right: 20px;
  /* color: #fff; */
  color: #000000;
}

.social-link:hover {
  color: #ccc;
}

.fab {
  font-size: 24px;
}



/* footer {
  background-color: #000;
  padding: 20px;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
}

.social-media {
  font-family: 'Graphik Medium', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 30px;
}

.social-link {
  text-decoration: none;

  margin-right: 20px;
  color: #fff;
}

.social-link:hover {
  color: #ccc;
}

.fab {
  font-size: 24px;
} */